# Kotlin / Java
*.class
*.log
*.jar
*.war
*.ear
!**/gradle/wrapper/gradle-wrapper.jar
hs_err_pid*
.kotlin/

# Gradle
.gradle/
**/build/
.gradletasknamecache

# Quarkus
.quarkus/

# Node
node_modules/
dist/

# Terraform
.terraform/
*.tfstate
*.tfstate.backup
*.tfvars
!terraform.tfvars.example

# Ansible
*.retry

# IDE
.idea/
.vscode/
*.iml
*.ipr
*.iws

# OS
.DS_Store
Thumbs.db

# Secrets
.env
*.pem
*.key
service-account*.json
